
automated-irrigation-system-server/src/main/resources/application.properties
automated-irrigation-system-server/src/main/resources/application.properties
automated-irrigation-system-server/src/main/resources/application.properties
*.properties
automated-irrigation-system-server/src/main/resources/application.properties
