<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b5d2c5e1-26f9-428f-acaa-0e78b7ff338b/resourcegroups/Backend-AutomatedIrrigation20200418211355ResourceGroup/providers/Microsoft.Web/sites/Backend-AutoIrrigation20200419153038</ResourceId>
    <ResourceGroup>Backend-AutomatedIrrigation20200418211355ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://backend-autoirrigation20200419153038.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>backend-autoirrigation20200419153038.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Backend-AutoIrrigation20200419153038</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Backend-AutoIrrigation20200419153038</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SensorServiceContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:backend-autoirrigation20200418234511dbserver.database.windows.net,1433;Initial Catalog=Backend-AutoIrrigation20200419153038_db;User ID=shashank@backend-autoirrigation20200418234511dbserver;Password=Apply@database" Name="Data Source=tcp:backend-autoirrigation20200418234511dbserver.database.windows.net,1433;Initial Catalog=Backend-AutoIrrigation20200419153038_db;User Id=shashank@backend-autoirrigation20200418234511dbserver;Password=Apply@database" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Backend_AutoIrrigation.Data.SensorServiceContext, Backend-AutoIrrigation" MigrationConfiguration="Backend_AutoIrrigation.Migrations.Configuration, Backend-AutoIrrigation" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SensorServiceContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:backend-autoirrigation20200418234511dbserver.database.windows.net,1433;Initial Catalog=Backend-AutoIrrigation20200419153038_db;User Id=shashank@backend-autoirrigation20200418234511dbserver;Password=Apply@database</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>