.container-body {
  display: flex;
  margin: 20px;
  justify-content: space-between;
}

.simulator-body {
  min-width: 30%;
  max-width: 40%;
  border: 1px;
  border-style: solid;
  padding: 20px;
  margin-top: 20px;
}

.field-body {
  min-width: 60%;
  max-width: 70%;
  border: 1px;
  border-style: solid;
  padding: 10px;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.sensors-collection {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin-top: 20px;
}

.sensor-card {
  padding: 10px;
  margin: 10px;
}
